[build-system]
requires = [
	"setuptools>=42",
	"wheel"
]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
testpaths = [
	"tests"
]
addopts = [
    "--import-mode=importlib",
]
pythonpath = "."