.DS_Store
_rels/
build/
dist/
docProps/
src/slibu.egg-info/
__pycache__
.idea/
*.egg-info/
out/

# To protect against people accidentally running in this directory
out.pptx
out.docx
test_output.pptx
test_output.docx
~$*.*
issue-tracker-export/.sigrid/
